@import 'tailwindcss';
@theme {
  --breakpoint-xs: 30rem;

  --color-accent: #56aec8;
  --color-accent2: #A67F8E;
  --color-primary: #345780;
  --color-secondary: #1f2937;

  --background-image-hero-img: url();
}

html {
  scroll-behavior: smooth;
}
